/*
 * Copyright (c) Arduino s.r.l. and/or its affiliated companies
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&zephyr_udc0 {
	status = "okay";
	board_cdc_acm_uart: board_cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
		status = "okay";
	};
};

&flash {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		user_sketch: partition@F0000 {
			reg = <0xF0000 DT_SIZE_K(56)>;
		};
	};
};

/ {
	zephyr,user {
		digital-pin-gpios =
			<&gpio4 3  GPIO_ACTIVE_HIGH>,  /* D0  = P4_3  */
			<&gpio4 2  GPIO_ACTIVE_HIGH>,  /* D1  = P4_2  */
			<&gpio0 29 GPIO_ACTIVE_HIGH>,  /* D2  = P0_29 */
			<&gpio1 23 GPIO_ACTIVE_HIGH>,  /* D3  = P1_23 */
			<&gpio0 30 GPIO_ACTIVE_HIGH>,  /* D4  = P0_30 */
			<&gpio1 21 GPIO_ACTIVE_HIGH>,  /* D5  = P1_21 */
			<&gpio1 2  GPIO_ACTIVE_HIGH>,   /* D6  = P1_2  (LED_BLUE共用) */
			<&gpio0 31 GPIO_ACTIVE_HIGH>,  /* D7  = P0_31 */
			<&gpio0 28 GPIO_ACTIVE_HIGH>,  /* D8  = P0_28 */
			<&gpio0 10 GPIO_ACTIVE_HIGH>,   /* D9  = P0_10 (LED_RED共用) */
			<&gpio0 27 GPIO_ACTIVE_HIGH>,   /* D10 = P0_27 (LED_GREEN共用, SPI SS) */
			<&gpio0 24 GPIO_ACTIVE_HIGH>,  /* D11 = P0_24 (SPI MOSI) */
			<&gpio0 26 GPIO_ACTIVE_HIGH>,  /* D12 = P0_26 (SPI MISO) */
			<&gpio0 25 GPIO_ACTIVE_HIGH>,  /* D13 = P0_25 (SPI SCK) */
			<&gpio0 23 GPIO_ACTIVE_HIGH>,  /* D14 = P0_23 (SW2, ARD_A5と共用) */
			<&gpio0 6  GPIO_ACTIVE_HIGH>,  /* D15 = P0_6  (SW3) */
			<&gpio0 14 GPIO_ACTIVE_HIGH>,  /* D16 = P0_14 (A2) */
			<&gpio0 22 GPIO_ACTIVE_HIGH>,  /* D17 = P0_22 (A3) */
			<&gpio0 15 GPIO_ACTIVE_HIGH>;  /* D18 = P0_15 (A4) */
		builtin-led-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>, <&gpio0 27 GPIO_ACTIVE_LOW>, <&gpio1 2 GPIO_ACTIVE_LOW>;

		cdc-acm-serial = <&board_cdc_acm_uart>; /* 'Serial' object is managed by SerialUSB */
		serials = <&flexcomm4_lpuart4>; /* 'Serial1' onwards */
		i2cs = <&flexcomm2_lpi2c2>;
		spis = <&flexcomm1_lpspi1>;

		io-channels = <&lpadc0 2>, <&lpadc0 3>, <&lpadc0 4>, <&lpadc0 5>;
		adc-pin-gpios = <&gpio0 14 0>, <&gpio0 22 0>, <&gpio0 15 0>, <&gpio0 23 0>;
	};
};